.header {
    background-color: orange;
    text-align: center;
    color: #fff;
    h5 {
        margin-bottom: 0;
    }
}
.contentList {
    position: relative;
    background-color: #f6f6ef;
    color: #969696;
    .titleLink::before {
        content: '▶';
        transform: rotate(270deg);
        position: absolute;
        left: 32px;
        top: 3px;
        font-size: 11px;
    }
    .titleLink {
        a {
            text-decoration: none;
            color: #000;

        }
        a:visited {
            color: #969696;
        }        
        a:hover {
            text-decoration: underline;
        }
    }

    .listNumber{
        margin-left: 7px;
    }

    .listContainer {
        margin-left: 0;
        .subTitle {
            font-size: 12px;
        }
        .commentor::before {
            content: "▶";
            position: absolute;
            transform: rotate(270deg);
            font-size: 11px;
            margin-left: -11px;
            margin-top: 5px;
        }
        .commentContent {
            color: #000!important;
        }
    
    }
}