.header {
    background-color: orange;
    text-align: center;
    color: #fff;
    h5 {
        margin-bottom: 0;
    }
}
.contentList {
    position: relative;
    background-color: #f6f6ef;
    padding: 0 30px;
    color: #969696;
    .titleLink::before {
        content: "▶";
        position: absolute;
        transform: rotate(270deg);
        font-size: 11px;
        margin-left: -13px;
        margin-top: 5px;
    }
    .titleLink {
        a {
            text-decoration: none;
            color: #000;

        }
        a:visited {
            color: #969696;
        }        
        a:hover {
            text-decoration: underline;
        }
    }

    .listContainer {
        margin-left: 10px;
       
        .subTitle {
            font-size: 12px;
        }
        .commentText {
            margin-top: 10px;
        }
        .commentor::before {
            content: "▶";
            position: absolute;
            transform: rotate(270deg);
            font-size: 11px;
            margin-left: -13px;
            margin-top: 5px;
        }
        .commentContent {
            color: #000!important;
        }
    
    }
    .listContainer::before {
        content: attr(data-numbering);
        position: absolute;
        font-size: 12px;
        margin-left: -32px;
        margin-top: 5px;
    }
}